go 1.24.2

use (
	./cmd/app
	./cmd/healthcheck
	./docs
	./modules/api
	./modules/api/middleware
	./modules/cleanup
	./modules/common
	./modules/common/cache
	./modules/common/redis
	./modules/kafka
	./modules/kafka/consumer
	./modules/kafka/processor
	./modules/log
	./modules/trace
)
